{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}

<h1>Login</h1>

{% endblock %}

{% block contenidoQueCambia %}

<h3>PARA PODER INGRESAR DEBES ESTAR LOGUEADO!   </h3>
<img src="https://pa1.narvii.com/7086/29dda1c6da6bb627271369d7dd10ffaa25e2dfd0r1-500-396_hq.gif">

<h1>{{ mensaje }}</h1>
<form action="{% url 'login' %}" method="POST"> {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Iniciar Sesion </button>

<a href="{% url 'register' %}">No sos usuario? Registrate</a>

</form>


{% endblock %}